header{
    background-color: antiquewhite;
    padding: 20px 0;

}

.caixa{
    position:relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;

}

/* Aqui fica os itens da lista */
nav li{
    display: inline;
    margin: 0 0 0 15px;
}

/* Aqui fica os links */
nav a{
    text-transform: uppercase; /*Deixa o texto em maiúsculo*/
    color:black;
    font-weight: bold; /*Deixa em negrito*/
    font-size: 22px;
    text-decoration: none;
    font-family: Andale Mono, monospace;
}

/*Ajusta o mouse*/
nav a:hover {
    color: pink;
    text-decoration: underline;
}

/*E aqui o main real*/
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

/*Aqui fica os produtos*/
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    border: 2px black solid;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    
}
/*Quando passa o mouse em cima*/
.produtos li:hover {
    border-color: pink;
}

.produtos li:hover h2 {
    font-size: 33px;
}
/*Quando é clicado*/
.produtos li:active {
    border-color:powderblue
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
   
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("imagens/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: white;
    
}