body {
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: antiquewhite;
    padding: 20px 0;

}

.caixa{
    position:relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;

}

/* Aqui fica os itens da lista */
nav li{
    display: inline;
    margin: 0 0 0 15px;
}

/* Aqui fica os links */
nav a{
    text-transform: uppercase; /*Deixa o texto em maiúsculo*/
    color:black;
    font-weight: bold; /*Deixa em negrito*/
    font-size: 22px;
    text-decoration: none;
}

/*Ajusta o mouse*/
nav a:hover {
    color: pink;
    text-decoration: underline;
}


footer {
    text-align: center;
    background: url("imagens/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: white;
    
}

.banner {
    width: 100%;
}

.titulo {
    text-align: center;
    font-size: 2em; 
    margin: 0 0 1em;
    clear: left;
    color:rgba(0, 0, 0, 0.3);
}

.principal {
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}
.principal p {
    margin: 0 0 1em;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.beneficios {
    padding: 3em 0;
    background: antiquewhite;
}

.imagem_bene {
    width: 60%;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#fefefe, antiquewhite);
}

.mapa-conteudo {
    width: 500px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.video {
    width: 560px;
    margin: 2em auto;
}



.conteudo-bene {
    width: 640px;
    margin: 0 auto;
}

.lista {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-bene, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: cemter;
    }

    nav {
       position: static; 
    }

    .lista, .imagem_bene{
        width: 100%;
    }
}